.kak-panel {

  &.panel-inverse > .panel-heading {
    background: #0e0e0e;
    color: #fff;
  }

  .panel-heading {
    display: flex;
  }

  .header--columns {
    display: flex;
    min-width: 120px;
    justify-content: flex-end;
  }
  .header--title {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    flex: 1 100%;

    h4 i {
      padding-right: 5px;
    }
  }

  .header--burger {
    width: 20px;
    span {
      width: 100%;
    }
  }
  button {
    &:focus, &:focus-visible, &:active {
      outline: none;
    }
  }

}